# Ignore everything
/*
/*/

# Except certain items
!.gitignore
!/nvim/
!/tmux/
!/kitty/
!/wezterm/
!/fish/
!/tools/
!/nushell/
!/git/
!/mpv/
!/systemd/
!/home-manager/

!/flake.nix
!/install.sh
!/tms.yml
